<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 상세 페이지</title>
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/board/boardInfo.css">
    <link rel="stylesheet" href="/css/common/footer.css">
</head>
<body>
    <header class="header" id="header"></header>
    <hr class="full-width-line">
    <!--NOTE : main -->
    <main>
        <!-- NOTE : board-header section 게시글 제목-->
        <section class="board-header section-center" id="section_board">
            <div class="title-section">
                <h2 class="board-title" id="h2_section_title"></h2>
            </div>
            <div class="meta-actions">
                <img class="img_profile" id="img_profile_url"></img>
                <div class="board-meta">
                    <span id ="span_board_author"></span>
                    <span class="board-date" id="span_board_dt"></span>
                </div>
                <div class="board-actions" id="div_board_button" style="display:none;">
                    <button class="board-button" id="btn_edit">수정</button>
                    <button class="board-button" id="btn_delete">삭제</button>
                </div>
            </div>
        </section>
        <hr class="hr-line-middle">
        <!-- NOTE : board-content section 게시글 내용 -->
        <section class="board-content section-center">
            <!-- NOTE : 이미지 태그가 있으면 inert 추가하기 -->
            <img id="img_url">
            <p id="p_board_content"></p>
        </section>

        <!-- NOTE : board stats section 조회수, 좋아요수, 댓글수 -->
        <section class="board-stats section-center">
            <div class="stat-item" id="div_like_cnt"><img class="width-30" src="/images/like.png"><span class="item-cnt" id="span_like_cnt"></span><span class="item-text">좋아요수</span></div>
            <div class="stat-item"><img class="width-30" src="/images/profile-icon.png"><span class="item-cnt" id="span_view_cnt"></span><span class="item-text">조회수</span></div>
            <div class="stat-item"><img class="board-comment-icon width-30 margin-bottom-3" src="/images/comment.png"><span class="item-cnt" id="span_comment_cnt"></span><span class="item-text">댓글수</span></div>
        </section>

        <hr class="hr-line-middle" id="hr_board_comment">
        <!-- NOTE : board-comment-section 댓글 작성 -->
        <section class="comment-section">
            <textarea class="comment-input" id="txt_comment_info" placeholder="댓글을 남겨주세요!"></textarea>
            <hr class="hr-line">
            <button class="default-button radius-small-button right-sort" id="btn_comment_add" disabled>댓글 등록</button>
        </section>
        <!-- NOTE : board-comment-list section 댓글 리스트 -->
        <section class="comment-list section-center">
        </section>
    </main>
    <footer class="footer" id="footer"></footer>
    <div class="cursor-dot"></div>

    <!-- NOTE : 수정/삭제 버튼 -->
    <div class="modal-overlay" style="display: none;">
        <div class="modal">
            <p>정말 삭제하시겠습니까?</p>
            <button class="confirm-delete">확인</button>
            <button class="cancel-delete">취소</button>
        </div>
    </div>
    <!-- NOTE : 게시글 삭제 팝업 -->
    <div class="popup" id="div_board_popup" style="display:none;">
        <p>게시글을 삭제하시겠습니까?</p>
        <span>삭제된 내용은 복구 할 수 없습니다.</span>
        <button class="popup-cancel-button" id="btn_board_cancel">취소</button>
        <button class="popup-confirm-button" id="btn_board_confirm">확인</button>
    </div>
    <!-- NOTE : 댓글 삭제 팝업 -->
    <div class="popup" id="div_comment_popup" style="display:none;">
        <p>댓글을 삭제하시겠습니까?</p>
        <span>삭제된 내용은 복구 할 수 없습니다.</span>
        <button class="popup-cancel-button" id="btn_comment_cancel">취소</button>
        <button class="popup-confirm-button" id="btn_comment_confirm">확인</button>
    </div>
    
    <script src="/js/common/auth.js" type="module"></script>
    <script src="/js/common/header.js" defer></script>
    <script src="/js/common/footer.js" defer></script>
    <script src="/js/common/common.js" type="module"></script>
    <script src="/js/board/boardInfo.js" type="module"></script>
</body>
</html>