<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeonggu.kim's BOARD'</title>
    <link rel="stylesheet" href="/css/board/board.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/footer.css">
</head>
<body>
    <header class="header" id="header"></header>
    <hr class="full-width-line">
    <!-- NOTE : main -->
    <main class="main">
        <p class="welcome-text">안녕하세요,<br>아무 말 대잔치 <strong>게시판</strong> 입니다.</p>
        <div class="board-header">
            <div class="board-header-search">
                <div class="search">
                    <div class="dropdown">
                        <button id="dropdown-button" aria-haspopup="listbox" aria-expanded="false" data-search-key="title">
                          제목 <span class="caret-icon">▼</span>
                        </button>
                        <ul id="dropdown-menu" class="dropdown-menu" role="listbox" hidden>
                          <li role="option" class="dropdown-item" data-value="title">제목</li>
                          <li role="option" class="dropdown-item" data-value="content">내용</li>
                          <li role="option" class="dropdown-item" data-value="nickname">작성자</li>
                        </ul>
                      </div>

                    <input class="searchInput" id="btn_search" type="text" name="search" value="" placeholder="Search...">
                </div>
            </div>
            <div class="button-container">
                <button class="write-board-button" id="btn_board_add">게시글 작성</button>
            </div>
        </div>
        <!-- NOTE : board section -->
        <section class="board-list">
            <!-- NOTE : 추후에 각각의 게시글 관리하기 위해 data-board_id 추가-->
        </section>
    </main>
    <footer class="footer" id="footer"></footer>
    <div class="cursor-dot"></div>

    <script src="/js/common/auth.js" type="module"></script>
    <script src="/js/common/header.js" defer></script>
    <script src="/js/board/board.js" type="module"></script>
    <script src="/js/common/common.js" type="module"></script>
    <script src="/js/common/footer.js" defer></script>
</body>
</html>