files:
  "/etc/healthd/config/logs.json":
    mode: "000644"
    owner: root
    group: root
    content: |
      {
        "logSources": [
          {
            "path": "/var/log/eb-docker/containers/eb-current-app/*.log",
            "filePattern": "*.log",
            "timestampFormat": "%Y-%m-%d %H:%M:%S,%f",
            "timezone": "UTC"
          }
        ]
      }
